---

- name: Set Hostname with hostname command
  become: true
  hostname: name="{{ server_hostname|default(inventory_hostname)|split('.')|first }}"
  when: not (ansible_facts['virtualization_role'] == "guest" and ansible_facts['virtualization_type'] == "lxc")
  ignore_errors: true
  tags: ['system']
