---

- name: Change sshd_config file
  become: true
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
  register: sshd
  tags: ['system','sshd']

- name: restart openssh
  become: true
  service: name={{ system_sshd_service_name }} state=restarted
  when: sshd.changed|bool
  tags: ['system','sshd']

- name: sudo conf
  become: true
  template:
    src: sudoers.j2
    dest: /etc/sudoers
  tags: ['system']

- name: disable selinux
  become: true
  lineinfile:
    path: /etc/selinux/config
    regexp: '^SELINUX='
    line: 'SELINUX=disabled'
  when: ansible_facts['os_family'] == "RedHat" and not system_selinux
  tags: ['system']

# Systemd journal
- name: replace default journal config
  become: true
  template:
    src: journald.conf.j2
    dest: /etc/systemd/journald.conf
  when: ansible_facts['service_mgr'] == 'systemd'
  tags: ['system']
