---

- name: adjust sysctl for all servers
  become: true
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_file: "{{ system_sysctl_file }}"
    state: present
    reload: yes
  with_items:
    - { name: net.core.somaxconn,             value: 65535  }
    - { name: net.core.netdev_max_backlog,    value: 4096   }

    # IPVS connection timeout issue
    - { name: net.ipv4.tcp_keepalive_time,    value: 600   }
    - { name: net.ipv4.tcp_keepalive_intvl,   value: 30    }

    - { name: fs.inotify.max_user_instances,  value: 4096  }
  ignore_errors: true
  tags: ['system','sysctl']

- name: adjust sysctl
  become: true
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_file: "{{ system_sysctl_file }}"
    state: present
    reload: yes
  with_items:
    - { name: vm.max_map_count,               value: 262144 }
    - { name: vm.swappiness,                  value: 1      }

    - { name: net.ipv4.tcp_fin_timeout,       value: 10 }
    - { name: net.ipv4.tcp_syncookies,        value: 1 }
    - { name: net.ipv4.tcp_max_syn_backlog,   value: 20480 }
    - { name: net.ipv4.tcp_timestamps,        value: 0 }
    - { name: net.ipv4.tcp_mem,               value: "65536 131072 262144" }
    - { name: net.ipv4.udp_mem,               value: "65536 131072 262144" }
    - { name: net.ipv4.tcp_rmem,              value: "8192 87380 16777216" }
    - { name: net.ipv4.tcp_wmem,              value: "8192 65536 16777216" }
    - { name: net.ipv4.udp_rmem_min,          value: 16384 }
    - { name: net.ipv4.udp_wmem_min,          value: 16384 }
    - { name: net.ipv4.tcp_max_tw_buckets,    value: 32768 }
    - { name: net.ipv4.ip_local_port_range,   value: "5000 65000" }

  when: not (ansible_facts['virtualization_role'] is defined and ansible_facts['virtualization_role'] == "guest"
             and ansible_facts['virtualization_type'] == "lxc")
  ignore_errors: true
  tags: ['system','sysctl']

- name: adjust sysctl custom rules
  become: true
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_file: "{{ system_sysctl_file }}"
    state: present
    reload: yes
  with_items:
    - "{{ system_sysctl }}"
  when: system_sysctl|length > 0
  ignore_errors: true
  tags: ['system','sysctl']
