---

- name: set default timezone
  become: true
  file: src=/usr/share/zoneinfo/Etc/UTC dest={{ item }} force=yes state=link
  with_items:
    - /etc/localtime
  tags: ['system']

- stat: path=/etc/timezone
  register: links
  tags: ['system']
- name: fix /etc/timezone
  become: true
  file:
    path: /etc/timezone
    state: absent
  when: links.stat.islnk is defined and links.stat.islnk
  tags: ['system']
- name: set default timezone
  become: true
  copy:
    content: "Etc/UTC\n"
    dest: /etc/timezone
  tags: ['system']

- name: packages
  become: true
  apt:
    name: 'ntp'
  when: ansible_facts['os_family'] == "Debian" and ansible_facts['service_mgr'] != 'systemd'
  tags: ['system']

- name: uninstall package
  become: true
  apt:
    name: ['ntp','openntpd','ntpsec']
    state: absent
  when: ansible_facts['os_family'] == "Debian" and ansible_facts['service_mgr'] == 'systemd'
  tags: ['system']

- name: replace default ntp config with custom one
  become: true
  template:
    src: ntp.conf.j2
    dest: /etc/ntp.conf
  when: ansible_facts['os_family'] == "Debian" and ansible_facts['service_mgr'] != 'systemd' and
        not (ansible_facts['virtualization_role'] == "guest" and ansible_facts['virtualization_type'] == "lxc")
  tags: ['system']

- name: ntp stop in lxc-container or systems
  become: true
  service: name=ntp enabled=no state=stopped
  when: (ansible_facts['virtualization_role'] is defined and
      ansible_facts['virtualization_role'] == "guest" and ansible_facts['virtualization_type'] == "lxc") or
      ansible_facts['service_mgr'] == 'systemd'
  ignore_errors: true
  tags: ['system']

# Use systemd
- name: replace default ntp config with custom one
  become: true
  template:
    src: timesyncd.conf.j2
    dest: /etc/systemd/timesyncd.conf
  when: ansible_facts['service_mgr'] == 'systemd'
  tags: ['system']
