---

- name: Update-grub
  shell: "{{ update_grub_cmd }}"
  become: true

- name: Update-aliases
  shell: newaliases
  become: true

- name: systemctl reload
  shell: systemctl daemon-reload
  become: true
