{% set iface = ansible_facts[item] %}
[Match]
Type=ether
{% for slave in iface.slaves|sort %}
PermanentMACAddress={{ ansible_facts[slave].perm_macaddress }}
{% endfor %}

[Link]
MTUBytes={{ iface.mtu | default(1500) }}

[Network]
Bond={{ item }}
