{% set iface = ansible_facts[item] %}
[Match]
Type=ether
Driver={{ iface.module }}
{% if iface.perm_macaddress is defined or iface.macaddress is defined %}
PermanentMACAddress={{ iface.perm_macaddress|default(iface.macaddress) }}
{% else %}
Name={{ item }}
{% endif %}

[Link]
MTUBytes={{ iface.mtu | default(1500) }}

{% set bonds = [] -%}
{% for bond in ansible_facts['interfaces']|sort if ansible_facts[bond].type is defined and ansible_facts[bond].type == "bonding" -%}
{% if (ansible_facts[bond].slaves|length > 0) and item in ansible_facts[bond].slaves -%}{{ bonds.append(interface) -}}
[Network]
Bond={{ bond }}
{% endif %}
{% endfor %}
{% if bonds|length == 0 -%}
[Network]
KeepMaster=yes
{% endif %}

{% for vf in ansible_facts['interfaces'] if vf.startswith((item|regex_replace('(.*)np[\d]$', '\\1')) + 'v') and ansible_facts[vf].module in system_network_sriov_vf %}
[SR-IOV]
VirtualFunction={{ loop.index - 1 }}
MACSpoofCheck=no
Trust=yes
LinkState={{ 'auto' if bonds|length > 0 else 'yes' }}

{% endfor %}
