{% set networkd_interfaces = system_networkd.interfaces if (system_networkd.interfaces.items() | default([]) | length > 0) else {} %}
{% set networkd_bonds = system_networkd.bonds if (system_networkd.bonds.items() | default([]) | length > 0) else {} %}
{% set networkd_bridges = system_networkd.bridges if (system_networkd.bridges.items() | default([]) | length > 0) else {} %}
{% if system_networkd is defined %}
{% if item in networkd_bonds -%}
{% set config = networkd_bonds[item] -%}
{% set iface = ansible_facts[item] -%}
# Bond Master Configuration
[Match]
Name={{ item }}

[Link]
MTUBytes={{ config.mtu | default(iface.mtu | default(1500)) }}

[Network]
{% if config.dhcp | default(false) %}
DHCP=yes
{% endif %}
{% if config.addresses is defined %}{% for addr in config.addresses %}
Address={{ addr }}
{% endfor %}{% endif %}
{% for name, br in networkd_bridges.items() if item in br.interfaces %}
Bridge={{ name }}
{% endfor %}

{% if config.addresses is defined %}{% for address in config.addresses %}
{% set gateway = config.gateway4 if ':' not in address else (config.gateway6 | default('')) %}
[Route]
{% if gateway is defined and gateway != '' %}
Gateway={{ gateway }}
{% endif %}
{% if address.split('/')[1] == '32' %}
GatewayOnlink=true
{% elif address.split('/')[1] == '128' and gateway[:4] != 'fe80' %}
GatewayOnlink=true
{% endif %}
{% endfor %}{% endif %}

{% elif item in networkd_bridges -%}
{% set config = networkd_bridges[item] -%}
{% set iface = ansible_facts[item] -%}
# Bridge Configuration
[Match]
Name={{ item }}

[Link]
MTUBytes={{ config.mtu | default(iface.mtu | default(1500)) }}

[Network]
{% if config.dhcp | default(false) %}
DHCP=yes
{% endif %}
{% if config.addresses is defined %}{% for addr in config.addresses %}
Address={{ addr }}
{% endfor %}{% endif %}
ConfigureWithoutCarrier=true

{% if config.addresses is defined %}{% for address in config.addresses %}
{% set gateway = config.gateway4 if ':' not in address else (config.gateway6 | default('')) %}
[Route]
{% if gateway is defined and gateway != '' %}
Gateway={{ gateway }}
{% endif %}
{% if address.split('/')[1] == '32' %}
GatewayOnlink=true
{% elif address.split('/')[1] == '128' and gateway[:4] != 'fe80' %}
GatewayOnlink=true
{% endif %}
{% endfor %}{% endif %}

{% elif item in networkd_interfaces %}
{% set config = networkd_interfaces[item] %}
{% set iface = ansible_facts[item] -%}
# Physical Interface Configuration
[Match]
{% if config.vlan|default('') != "" %}
Name={{ item }}
{% elif item.startswith('eth') and iface.perm_macaddress is defined %}
PermanentMACAddress={{ iface.perm_macaddress }}
{% elif item.startswith('eth') and iface.macaddress is defined %}
MACAddress={{ iface.macaddress }}
{% else %}
Name={{ item }}
{% endif %}
{% if iface.type|default('') == 'ether' and config.vlan|default('') == "" %}
Type=ether
Kind=!*
{% endif %}

[Link]
MTUBytes={{ config.mtu | default(1500) if item != 'lo' else 65536 }}
{% if item != 'lo' %}
ActivationPolicy=always-up
{% endif %}

[Network]
{% if config.dhcp | default(false) %}
DHCP=yes
{% else %}
DHCP=no
{% endif %}
{% if config.addresses|default([]) | length > 0 %}{% for addr in config.addresses %}
Address={{ addr }}
{% endfor %}
{% else %}
LinkLocalAddressing=no
KeepConfiguration=yes
{% endif %}
{% for name, br in networkd_bridges.items() if item in br.interfaces %}
Bridge={{ name }}
{% endfor %}
{% for name, iface in networkd_interfaces.items() if name.startswith(item+'.') %}
VLAN={{ name }}
{% endfor %}

{% if config.addresses is defined and item != 'lo' %}{% for address in config.addresses %}
{% set gateway = config.gateway4 if ':' not in address else (config.gateway6 | default('')) %}
[Route]
{% if gateway is defined and gateway != '' %}
Gateway={{ gateway }}
{% endif %}
{% if address.split('/')[1] == '32' %}
GatewayOnlink=true
{% elif address.split('/')[1] == '128' and gateway[:4] != 'fe80' %}
GatewayOnlink=true
{% endif %}
{% endfor %}{% endif %}
{% endif %}
{% endif %}
