{% if system_networkd is defined and system_networkd.interfaces is defined and item in system_networkd.interfaces -%}
{% set config = system_networkd.interfaces[item] -%}
{% set iface = ansible_facts[item] -%}
[Match]
OriginalName={{ item }}
{% if config.macaddress is defined %}
MACAddress={{ config.macaddress }}
{% endif %}

[Link]
MTUBytes={{ config.mtu | default(iface.mtu | default(1500)) }}
{% endif %}
